// ССЫЛКИ v1.0
.cursor{cursor:pointer }

// убрать подчеркиваня у ссылки
.td-none{
  text-decoration: none !important;
}
.td-underline {
  text-decoration:underline;
}
// внуртри нее сылки
.td-dashed{
  text-decoration: none;
  border-bottom:1px dashed;
  &.active,
  &:hover{
    border-color:transparent;
    text-decoration: none;
  }
}
.td-dotted{
  text-decoration: none;
  border-bottom:1px dotted;
  &.active,
  &:hover{
    border-color:transparent;
    text-decoration: none;
  }
}

//  <a clss=blokc >
//      <span>  TEXT  </span>
//  </a>

.td-box-norm{
  text-decoration: none;
  span{
    text-decoration: underline;
  }
  &:hover span{
    text-decoration: none;
  }
  .active &{
    span{
      text-decoration: none;
    }
  }
}
.td-box-dotted{
  text-decoration: none;
  span{
    text-decoration: none;
    border-bottom:1px dotted;
  }
  &:hover span{
    border-color:transparent;
    text-decoration: none;
  }
  .active &{
    span{
      text-decoration: none;
      border-color:transparent;
    }
  }
}
.td-box-dashed{
  text-decoration: none;
  span{
    text-decoration: none;
    border-bottom:1px dashed;
  }
  &:hover span{
    border-color:transparent;
    text-decoration: none;
  }
  .active &{
    span{
      text-decoration: none;
      border-color:transparent;
    }
  }
}

